{% extends "location/base_location.html" %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>{{ object }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <table class="striped">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Number of provinces</td>
                    <td>{{ object.size }}</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>
                        <div class="color-preview"
                             style="background-color: {{ object.primary_color }}"></div>
                    </td>
                </tr>
                <tr>
                    <td>Ruler</td>
                    <td>{{ object.ruled_by.current_dynast }}</td>
                </tr>
                <tr>
                    <td>Line of succession</td>
                    <td>
                        <ol>
                            {% for person in line_of_succession %}
                                <li><a href="{% url 'dynasty:person-detail-view' person.id %}">{{ person }}</a></li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col s6">
            <table class="striped">
                <tr>
                    <td>Province income</td>
                    <td>{{ income }}</td>
                </tr>
                <tr>
                    <td>Military expenses</td>
                    <td>-{{ expense_military }}</td>
                </tr>
                <tr>
                    <td>Castle expenses</td>
                    <td>-{{ expense_castle }}</td>
                </tr>
                <tr>
                    <th>Balance</th>
                    <th>{{ balance }}</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}