{% extends "location/base_location.html" %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>{{ province_list|length }} provinces</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Income</th>
                    <th>Manpower</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for province in province_list %}
                    {% include 'location/partials/_province_detail_row.html' with province=province savegame=savegame %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}