{% extends "base.html" %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <div id="battlefield">
                {% for tile in battle_data.battlefield_tiles %}
                    <div class="battle-tile {% if tile.coordinate_x|add:tile.coordinate_y|divisibleby:2 %}dark grey lighten-2{% endif %}"
                         style="left: {{ tile.coordinate_x|multiply:4 }}em; top: {{ tile.coordinate_y|multiply:4 }}em">
                        <div class="battle-tile-info">{{ tile.coordinate_x }}/{{ tile.coordinate_y }}</div>
                        <div class="men-info">{{ tile.regiment.current_men }}</div>
                        {% if tile.regiment %}
                            <div class="battle-regiment center-align">
                                <div class="regiment-image-box"
                                     style="background-color: {{ tile.regiment.county.primary_color }}">
                                    <img class="regiment-type" src="{% static tile.regiment.type.icon_path %}"
                                         alt="{{ tile.regiment.type }}" title="{{ tile.regiment.type }}"/>
                                </div>
                                <div class="regiment-label">{{ tile.regiment.name }}</div>
                                <div class="regiment-label">{{ tile.regiment.county }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col s12 m6">
            <h4>Round {{ battle_data.battle.round }}</h4>
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#my-regiments">Troops</a></li>
                <li class="tab col s3"><a href="#opposing-regiments">Opponent</a></li>
                <li class="tab col s3"><a href="#battle-log">Battle log</a></li>
            </ul>
            <div id="my-regiments">
                {% include 'partials/_regiment_table.html' with regiment_list=my_regiments show_actions=True %}
            </div>
            <div id="opposing-regiments">
                {% include 'partials/_regiment_table.html' with regiment_list=opposing_regiments show_actions=False %}
            </div>
            <div id="battle-log">
                <div>
                    {% for log in battle_data.battle.logs.all %}
                        <div>{{ log }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="spacer"></div>
            <div>
                <a class="btn " href="{% url 'military:battle-finish-round-view' %}">Finish round</a>
            </div>

        </div>
    </div>
{% endblock %}
