{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    <script type="text/javascript">
    let mapData = [
        {% for dot in canvas_map.map_dots.all %}
            {{ dot.get_as_json|safe }},
        {% endfor %}
    ];
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            Durp
            <canvas id="map" width="{{ canvas_width }}" height="{{ canvas_height }}"></canvas>
        </div>
    </div>
{% endblock %}