{% extends "base.html" %}
{% load static %}
{% load utils %}

{% block css %}
    <style>
        #map-container {
            width: {{ canvas_map.display_size|add:48 }}px;
            height: {{ canvas_map.display_size|add:48 }}px;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#map').click(function (e) {
                let mapId = {{ canvas_map.id }};
                let offset = $(this).offset();
                let x = Math.round(e.pageX - offset.left);
                let y = Math.round(e.pageY - offset.top);
                console.log(e.pageX - offset.left, e.pageY - offset.top);
                $.ajax({
                    url: '/location/map-dot-details/' + mapId + '/' + x + '/' + y,
                }).done(function (e) {
                    $('#map-detail').html(e);
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>Map #{{ canvas_map.id }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s3">
            <div id="map-container" class="card-panel grey lighten-2 z-depth-1">
                <img id="map" width="{{ canvas_map.display_size }}"
                     height="{{ canvas_map.display_size }}" alt="Map #{{ canvas_map.id }}"
                     src="{{ canvas_map.political_map.url }}"/>
            </div>
        </div>
        <div class="col s3"></div>
        <div id="map-detail" class="col s6">
            {% include 'partials/_map_detail.html' with map_dot=first_dot %}
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <table class="striped">
                <tr>
                    <th>Name</th>
                    <th>Provinces</th>
                    <th>Color</th>
                </tr>
                {% for county in county_list %}
                    <tr>
                        <td>{{ county.county__name }}</td>
                        <td>{{ county.province_count }}</td>
                        <td>
                            <div class="color-preview"
                                 style="background-color: {{ county.county__primary_color }}"></div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col s6">
            <table class="striped">
                <tr>
                    <th colspan="2">Statistics</th>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>{{ canvas_map.dimension }} x {{ canvas_map.dimension }}</td>
                </tr>
                <tr>
                    <td>Landmass</td>
                    <td>{{ landmass|multiply:100|floatformat:2 }}%</td>
                </tr>
                <tr>
                    <td>Number of counties</td>
                    <td>{{ quantity_counties }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}