{% extends "base.html" %}
{% load static %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#map').click(function (e) {
                let mapId = {{ canvas_map.id }};
                let offset = $(this).offset();
                let x = Math.round(e.pageX - offset.left);
                let y = Math.round(e.pageY - offset.top);
                console.log(e.pageX - offset.left, e.pageY - offset.top);
                $.ajax({
                    url: '/location/map-dot-details/' + mapId + '/' + x + '/' + y,
                }).done(function (e) {
                    $('#map-detail').html(e);
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s6">
            Map #{{ canvas_map.id }}
            <img id="map" width="{{ canvas_map.display_size }}"
                 height="{{ canvas_map.display_size }}" alt="Map #{{ canvas_map.id }}"
                 src="{{ canvas_map.political_map.url }}"/>
        </div>
        <div id="map-detail" class="col s6">
            Click on Map for province details
        </div>
    </div>
{% endblock %}