{% extends "base_dynasty.html" %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>My dynasty</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <tr>
                    <th>Person</th>
                    <th>Spouse</th>
                    <th>Rank</th>
                    <th>Gender</th>
                    <th>Birth year</th>
                    <th>Age</th>
                </tr>
                {% for person in person_list %}
                    <tr>
                        <td><a href="{% url 'dynasty:person-detail-view' person.id %}">{{ person }}</a></td>
                        <td>
                            {% if person.spouse %}
                                {% if person.spouse in person_list %}
                                    {{ person.spouse }}
                                {% else %}
                                    <a href="{% url 'dynasty:person-detail-view' person.spouse.id %}">
                                        {{ person.spouse }}</a>
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if person == person.dynasty.current_dynast %}
                                <i class="fas fa-crown" title="Current dynast"></i>
                            {% endif %}
                        </td>
                        <td>{% include 'partials/_gender_icon.html' with person=person gender_male=gender_male %}</td>
                        <td>AD {{ person.birth_year }}</td>
                        <td>{{ person.age }} years {% if person.is_dead %}&dagger;{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}