{% extends "base_dynasty.html" %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>{{ object }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{ object.dynasty.from_location }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        {% include 'partials/_gender_icon.html' with person=object gender_male=gender_male %}
                    </td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>
                        *{{ object.birth_year }}
                        {% if object.death_year and object.death_year <= savegame.current_year %}- &dagger; {{ object.death_year }} {% endif %}
                        ({{ person.age }} years)
                    </td>
                </tr>
                <tr>
                    <td>Spouse</td>
                    <td>
                        {% if object.spouse %}
                            <a href="{% url 'dynasty:person-detail-view' object.spouse.id %}">{{ object.spouse }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Father</td>
                    <td>
                        {% if object.father %}
                            <a href="{% url 'dynasty:person-detail-view' object.father.id %}">{{ object.father }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Mother</td>
                    <td>
                        {% if object.mother %}
                            <a href="{% url 'dynasty:person-detail-view' object.mother.id %}">{{ object.mother }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Leadership</td>
                    <td>{{ object.leadership }}</td>
                </tr>
                <tr>
                    <td>Intelligence</td>
                    <td>{{ object.intelligence }}</td>
                </tr>
                <tr>
                    <td>Charisma</td>
                    <td>{{ object.charisma }}</td>
                </tr>
                <tr>
                    <td>Fama</td>
                    <td>{{ object.fama }}</td>
                </tr>
                <tr>
                    <td>Traits</td>
                    <td>
                        {% for trait in object.traits.all %}
                            <div>{{ trait }}</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Title claims</td>
                    <td>
                        {% for claim in title_claims %}
                            <div>{{ claim.county }} ({{ claim.position }}.)</div>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}