{% load static %}
{% load utils %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WIP: Sovereignty</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize-css/dist/js/materialize.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% for message in messages %}
                M.toast({html: '{{ message }}'});
            {% endfor %}
        });
    </script>
    {% block js %}{% endblock %}
    <link rel="stylesheet" href="{% static 'materialize-css/dist/css/materialize.css' %}">
    {#todo use npm package #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom-materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock %}
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5">
</head>
<body>
<!-- Navigation -->
<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="{% url 'account:dashboard-view' %}" class="brand-logo">Sovereignty</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="{% active request 'location' %}">
                        <a href="{% url 'location:show-map-view' %}">Map</a>
                    </li>
                    <li class="{% active request 'dynasty' %}">
                        <a href="{% url 'dynasty:dashboard-view' %}">Dynasty</a>
                    </li>
                    <li class="{% active request 'country' %}">
                        <a href="#">Country</a>
                    </li>
                    <li class="{% active request 'foreign-affairs' %}">
                        <a href="#">Foreign Affairs</a>
                    </li>
                    <li class="{% active request 'menu' %}"><a href="{% url 'account:menu-view' %}">
                        Menu <span class="badge">#{{ savegame_id }}</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">

    <!-- Page Content goes here -->
    {% block content %}{% endblock %}
</div>
</body>
</html>